/*Laptop/pc Styles*/
body{
  width: 100%;
    text-align: center;
    display: inline-block;
    
}



p{
 
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
    display: flex; /* Footer height */
}


/*Mobile/tablets Styles*/

@media screen (orientation: landscape) , (max-width:660px) {
    
    
    
    
}
