/*Laptop/pc Styles*/
body{
 

}

#PWDcontainer{
    
      width: 60%;
    text-align: justify;
    display:grid;
}

p{
 
}

#footer {
  position:static;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
    display: grid; /* Footer height */
}


/*Mobile/tablets Styles*/

@media screen (orientation: landscape) , (max-width:660px) {
    
    body{
        width: 100%;
         position:absolute;
         top: 1%;
         left: 15%;
         font-family: cursive;
         font-size: 70%;
        
    }
    
    #PWDcontainer{
    
    width: 100%;
    text-align: justify;
    display:grid;
}
    
    
    
    #footer {
    
    top: 130%;
    left: -10%;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
    display: grid; /* Footer height */
}
    
    
}
